<div class="category">
    <button class="button-85" (click)="onClick($event)" id={{item.cols}} *ngFor="let item of scores">{{item.rows + " x " + item.cols}}</button>
    
</div>
<div class="leaderboard-wrapper">
    <div class="main_leaderboard">
        <div class="title-div">
        <h1 class="title">LEADERBOARD</h1>
        </div>
        <div class="leaderboard">
            <table class="table-leaderboard">
                <tr class="table_unit" *ngFor="let item of currentScore?.results; index as i">
                    <td class="table-item">{{i + 1}}</td>
                    <td class="table-item">{{item.name}}</td>
                    <td class="table-item">{{item.time}}</td>
                    <td class="table-item">{{getDateOfRes(i)}}</td>
                </tr>                
            </table>
            <div class="board-utilities">
                <a href="/game" class="button-utility">Back to game</a>
            </div>
        </div>
  </div>
</div>