@import '~@angular/material/prebuilt-themes/purple-green.css';


html
{
    background-image: url('./assets/sandWallpaper.jpg');
    background-size: contain;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.dialog-design
{
    width: 1000px;
    height: 100%;
}
