<div class="background-img">
    
    <div class="board-body">
      <mat-slider min="3" max="8" step="1" showTickMarks discrete class="slider-size" (onchange)="handleSliderChange()">
        <input matSliderThumb aria-label="showValue" (input)="onInputChange($event)">
      </mat-slider>
      <div class="grid-container" [ngStyle]="{'grid-template-columns': calcFrs(), 'grid-template-rows': calcFrs()}">
        <app-tile
            *ngFor="let tile of tiles"
            [tile]="tile"
            [size]="rows"
            [showNums]="showNums">
        </app-tile>
      </div>
      <div class="board-utilities">
        <a href="/leaderboard" class="button-utility">leaderboard</a>
        <button (click)="handleShuffleClick()" class="button-utility">shuffle</button>
        <button (click)="handleResetClick()" class="button-utility">reset</button>
        <button (click)="handleSolveClick()" class="button-utility">solve</button>
        <mat-checkbox (change)="handleCheckboxChange()" class="show-numbers">show numbers</mat-checkbox>
      </div>
    </div>
    
  </div>
  